@{ 
    ViewBag.Title = "Access Denied";
}
<div class="my-5">
    <div class="card text-center">
        <div class="card-header">
            <span class="display-4">@ViewBag.Message</span>
        </div>
        <div class="card-body">

            <img src="~/images/security.png" style="width:30%;height:30%;" asp-append-version="true"/>
        </div>
        <div class="card-footer">
            <a asp-action="index" asp-controller="Employee" class="btn btn-primary">Back To Home Page</a>
        </div>
    </div>
</div>