@model EmployeeCreateViewModel
@using System.Security.Claims;

@{
    ViewBag.Title = "create";
}
<div class="my-5">
    
    <form enctype="multipart/form-data" asp-action="Create" asp-controller="Employee" method="post">
        <fieldset>
            <legend>Disabled fieldset example</legend>
           
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Le prénom du employée...">
                <span class="small text-danger" asp-validation-for="Name">

                </span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Le nom du employée">
                <span class="small text-danger" asp-validation-for="Email">

                </span>
            </div>
            <div class="mb-3">
                <label asp-for="Departement" class="form-label"></label>
                <select class="form-select"
                        asp-for="Departement"
                        asp-items="Html.GetEnumSelectList<Departement>()">
                    <option value="">
                        select one...
                    </option>
                </select>
                <span class="small text-danger" asp-validation-for="Departement">

                </span>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <input class="form-control" asp-for="Photo" id="inputGroupeFileAdd01" accept="image/*" type="file">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="mb-3">
                    <div class="form-control col-12">
                        <label asp-for="Photo"></label>
                        <div class="input-group">
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroupeFileAdd01">Upload</span>
                            </div>
                            <div  class="c">
                                <input accept="image/*" asp-for="Photo" class="custom-file-input" id="inputGroupeFileAdd01" />
                                <label  class="custom-file-label" for="inputGroupeFileAdd01"></label>

                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="mb-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </fieldset>
    </form>

</div>
@section CreateSectionJS{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#inputGroupeFile01").on("change", function () {
                var inputPhoto = $(this).val();
                console.log(inputPhoto);
            });

        })
    </script>
}